<!doctype html>
<html lang="en">

<head>
  <title>{{{smallMess}}}</title>
  <meta charset="utf-8">
  <link rel="icon" href="color_wheel.png">
  <meta http-equiv="refresh" content="1;url=/" />
  <style>
    :root {
      --red: #f00;
      --purple: rgb(127, 31, 127);
      --white: white
    }

    body {
      background: linear-gradient(135deg, var(--red) 10%, var(--purple) 90%);
      color: var(--white)
    }

    h1 {
      margin: 0;
    }
  </style>
</head>

<body>
  <h1>{{{message}}}</h1>
</body>

</html>