<head>
  <title>Time Entry - Enter Time</title>
</head>
<script src="/js/main.js"></script>
<header>
  <div class="container-md text-center">
    <h1>Ad-Hoc Time Entry</h1>
    <h2>Signed In As: {{user}}</h2>
    <p>A simple system to enter/log time for independently contracted work.</p>
  </div>
</header>

<section id="log" aria-label="Submit Shift">
  <div class="container-md text-center">
    <h2>Log/Update Shift</h2>
    <form id="logForm" aria-describedby="Form to submit or update a shift.">
      <p>Enter all required fields to log a new shift.</p>
      <p>If you want to update a shift, then you must enter the Shift ID of the shift you wish to update.</p>
      <p>Otherwise, leave ShiftID blank.</p>
      <div class="mb-3">
        <label for="logShiftID" class="form-label">Optional Shift ID</label>
        <input type="integer" class="form-control" id="logShiftID" placeholder="1">
      </div>
      <div class="mb-3">
        <label for="shiftStart" class="form-label">Shift Start</label>
        <input type="datetime-local" class="form-control" id="shiftStart" placeholder="mm/dd/yyyy" required>
      </div>
      <div class="mb-3">
        <label for="shiftEnd" class="form-label">Shift End</label>
        <input type="datetime-local" class="form-control" id="shiftEnd" placeholder="00:00 AM" required>
      </div>
      <button type="submit" class="btn btn-primary" id="logShift">Submit</button>
    </form>
  </div>
</section>

<section id="removeShiftSection" aria-label="Remove Shift">
  <div class="container-md text-center mt-3">
    <h2>Remove Shift</h2>
    <form id="removeForm" aria-describedby="Form to remove a shift.">
      <div class="mb-3">
        <label for="shiftID" class="form-label">Shift ID</label>
        <input type="integer" class="form-control" id="shiftID" placeholder="1" required>
      </div>
      <button type="submit" class="btn btn-danger" id="removeShift">Remove</button>
    </form>
  </div>
</section>

<section id="shifts" aria-describedby="A collection of all your shifts, if you have any">
  <div class="container-md text-center mt-3">
    <h2>Shift Record</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Shift #</th>
          <th scope="col">Shift Start</th>
          <th scope="col">Shift End</th>
          <th scope="col">Duration (Hours)</th>
        </tr>
      </thead>
      <tbody>
        {{#each shiftRecords}}
          <tr>
            {{#each this}}
              <td>{{this}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>