<head>
  <title>Time Entry - Login</title>
</head>
<header aria-label="Header">
  <div class="container-md text-center">
    <h1>Ad-Hoc Time Entry</h1>
    <h2>Author: Spencer Greene</h2>
    <p>A simple system to enter/log time for independently contracted work.</p>
  </div>
</header>

<section aria-describedby="Login" id="login">
  <div class="container-md text-center">
    <h2>Please Log-In</h2>
    <p>Use of this system is for authorized users only. Please log in using the following methods below:</p>
    <a aria-describedby="Enables access to the site by signing in with GitHub." href="/auth/github">Login with GitHub</a>
  </div>
</section>