body {
  background:#c8d5b9;
  color:black;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

h1 {
  display: flex;
  align-items: center;
}

table {
  border-collapse: collapse;
  border: 1px solid;
}

th {
  padding: 5px;
  border: 1px solid;
  text-align: left;
  background: #4a7c59;
}

td {
  padding: 5px;
  border: 1px solid;
  text-align: left;
  background: #faf3dd;
}

.rounded-box {
  display: inline-block;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  background: #faf3dd;
}

#submitButton {
  font-size: 14px;
  background: #8fc0a9;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  padding: 5px;
}

#deleteButton {
  font-size: 12px;
  background: #8fc0a9;
  font-family: "Outfit", sans-serif;
  padding: 5px;
}