@use "../../node_modules/@picocss/pico/scss/pico";
body {
    margin: 0px;
    padding: 0px;
    background-color: #13171f;
}
.login {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20em;
    height: max-content;
    margin-left: -10em;
    margin-top: -13em;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
}

.tool_sel {
    border-color: orange;
}

.login h2, label {
    color: #13171f
}

.login input {
    border-radius: 5em;
}

#submit {
    width: max-content;
    align-self: flex-end;
}

.toolbar {
    display:flex;
    gap: .5em;
    background-color: #3a264a;
    outline: 0.1em solid #c7a7df;
    border-radius: 3em;
    padding: 0.6em;
    width: 40%;
    left: 30%;
    position: relative;
    justify-content: flex-start;
}

.box_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    // background-color: crimson;
}

.box {
    width: 4em;
    height: 4em;
    border: none;
    border-radius: 0.5em;
    text-align: center;
    align-content: center;
}

.box:hover {
    opacity: 40%;
}

.add_box {
    border: 0.3em dotted #c7a7df;
    background-color: transparent;
}

#color_pick {
    position: relative;
    display: inline-block;
    align-self: center;
    background-color: pink;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
}

button {
    background-color: transparent;
    border: 0.1em solid #c7a7df;
    padding: 0.2em;
}

button img {
    width: 1.5em;
    height: 1.5em;
}

.glayout {
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    justify-content: space-around;
}

.main_content{
    flex-grow: 2fr;
    width: 100%;
}

.leaderboard {
    flex-grow: 1fr;
    width: max-content;
    padding-left: 3em;
}

.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

th, td {
    text-align: center;
}

.colors {
    display: none;
    position: absolute;
    top: 1em;
    background-color: #3a264a;
    outline: 0.3em solid #c7a7df;
    padding: 0.5em;
    border-radius: 0.3em;
    width: 7.5em;
    //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 1em;
}

th, td, .add_box{
    color: whitesmoke;
    background-color: #13171f;
}

.color {
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
}

.color:hover {
    outline: 4px dashed #c7a7df;  
}

.spacer {
    flex-grow: 4;
}

.spacetaker {
    height: 1.5em;
}

#error {
    font-size: 16pt;
    color: crimson;
}

#logout {
    background-color: #c7a7df;
    color: #3a264a;
}

#color_pick:hover .colors {display: flex;}
