/*fonts*/
.noto-sans soyombo-regular {
  font-family: "Noto Sans Soyombo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mandali-regular {
  font-family: "Mandali", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header,
h3 {
  font-family: "Mandali", sans-serif;
}

body {
  font-family: "Noto Sans Soyombo", sans-serif;
  background: ghostwhite;
  color: darkblue;
  display: grid;
}

div {
  padding-bottom: 10px;
}

label {
  font-size: 18px;
}

.longInput {
  height: 20px;
  width: 150px;
}

#sex {
  width: 40px;
  text-align: center;
}

.btn {
  color: ghostwhite;
  background-color: darkblue;
  font-size: 16px;
  padding: 5px;
}

.delBtn {
  font-family: "Noto Sans Soyombo", sans-serif;
  font-size: 16px;
  height: 50px;
  background-color: red;
  color: white;
}

#submit {
  height: 30px;
  width: 100px;
}

table {
  font-family: "Noto Sans Soyombo", sans-serif;
  text-align: center;
  background: white;
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
}
th,
td {
  font-family: "Noto Sans Soyombo", sans-serif;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  height: 50px;
  width: 800px;
}
