body {
  background:white;
  color:white;
}
input{
  display: inline-block;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 5px;
}
button{
  display: block;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

div{
  text-align: center;
}

th, td{
  border: 1px solid #000000;
  font-family: "Comic Sans MS", serif;
  font-size: large;
  color: black;
}

header{
  font-family: "Honk", sans-serif;
  font-size: 100px;
  color: black;
  text-align: center;
}
img{
  background: white;
  align-content: center;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

form{
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
}

h1{
  font-family: "Honk", sans-serif;
  font-size: 50px;
  color: black;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  font-size: 15px;
  color: black;
  text-align: center;
}

#table{
  font-family: "Comic Sans MS", serif;
  border-collapse: collapse;
  width: 100%;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto 1fr ;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.grid-table{
  grid-column-start: 1;
  grid-column-end: 4;
}


