body {
  padding-top: 30px;
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-black);
  --bs-body-color: var(--bs-green);
  font-size: 20px;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 20vw;
}

table {
  margin-top: 50px;
  width: 100vw;
  border-collapse: collapse;
  display: flex;
  justify-content: space-evenly;
}

th {
  height: 50px;
}

td {
  height: 30px;
  padding-left: 5px;
  width: 9vw;
}

#totals {
  font-weight: bolder;
  color: green;
}

label {
  margin-top: 10px;
}

input {
  background: none;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.submitButton {
  width: 150px;
  height: 50px;
  background-color: green;
  border: none;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.Update {
  cursor: pointer;
  text-align: center;
}

.Delete {
  cursor: pointer;
  text-align: center;
}

.loginField {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;

  input {
    width: 100%;
  }
}

.loginForm {
  width: 30vw;
  margin-top: 30vh;
}

#msg {
  text-align: center;
  margin-top: 20px;
}
