body {

  background: #ade8e8;
}

table
{
  background: white;
  color: black;
  border: 1px solid;
  outline-width: 1px;
}

th
{
  border: 1px solid black;
  background: #00e7e7;

  text-align: center;
  font-size: 14px;
  
}

td
{
  border: 1px solid;
  font-size: 12px;
}

input
{
  font-style: oblique;
  border: 2px solid;
}

h1
{
  text-decoration: underline;
  text-decoration-color: #0080ff;;
}

button
{
  border-radius: 10px;
  border: 2px solid;
}

#idBlock
{
  background: mediumpurple;
}

.openSans
{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}